@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --p: #ff9b5c;
  --c1: #baf3ee;
  --c2: #caecc9;
  --c3: #ffe498;
  --c4: #ffd3b9;
  --c5: #ffcbc3;
  --c6: #e9b2f2;
  --modal_bg: #8f8f8fa8;
}
.col-1 {
  background-color: var(--c1);
}
.col-2 {
  background-color: var(--c2);
}
.col-3 {
  background-color: var(--c3);
}
.col-4 {
  background-color: var(--c4);
}
.col-5 {
  background-color: var(--c5);
}
.col-6 {
  background-color: var(--c6);
}

body {
  overflow-x: hidden;
  background: rgb(252, 219, 209);
  background: radial-gradient(
    circle,
    rgba(252, 219, 209, 1) 0%,
    rgba(241, 247, 249, 1) 100%
  );
}

.create_new_modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal_bg);
  display: none;
  justify-content: center;
  align-items: center;
}

.create_new_box {
  width: 60vw;
  padding: 2vw;
  border-radius: 1rem;
  border: 1px solid #fff;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s linear;
}

.title,
.description {
  width: 100%;
}
.title textarea,
.description textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  background-color: transparent;
}
.title textarea {
  height: 30px;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0rem;
  box-sizing: content-box;
  margin-bottom: 1rem;
}
.title textarea::placeholder {
  color: #8f8f8f;
}

.description textarea {
  height: 200px;
}

#description::-webkit-scrollbar,
#title::-webkit-scrollbar {
  width: 18px;
}

#description::-webkit-scrollbar-thumb,
#title::-webkit-scrollbar-thumb {
  background-color: var(--p);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

#description::-webkit-scrollbar-track,
#title::-webkit-scrollbar-track {
  background-color: transparent;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}
.choose_color,
.trash,
.create {
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.2rem;
}
.choose_colors_container {
  position: relative;
  margin-right: 1rem;
}
.choose_color {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: border-radius 0.2s linear, color 0.2s linear;
}
.choose_color:hover {
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  color: #353535;
}
.show:hover {
  border-color: transparent;
}
.show .icon {
  display: none;
}
.choose_color .icon {
  margin-right: 0.5rem;
  transform: translateY(2px);
}
.choose_color .color_box {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.colors {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 5px 5px 10px 5px rgb(0 0 0 / 20%);
  -webkit-box-shadow: 5px 5px 10px 5px rgb(0 0 0 / 20%);
  -moz-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  cursor: default;
  border-radius: 1rem;
  padding-bottom: 1rem;
  z-index: 1;
}
.color {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.color:last-child {
  margin-bottom: 0rem;
}
.color .icon_up {
  cursor: pointer;
}
.color .col {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: auto;
  border: 1px solid transparent;
}
.color .col:hover {
  border-color: black;
}
.trash,
.create {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: border-radius 0.2s linear, color 0.2s linear;
}
.trash:hover,
.create:hover {
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #353535;
}
.trash {
  margin-right: 1rem;
}

.notes_container {
  width: 100%;
  padding: 0rem 5vw;
  min-height: 100vh;
}
.add_new_note {
  padding: 2rem 0rem;
  display: flex;
  justify-content: flex-end;
}
.add_new {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}
.plus_icon {
  width: 100%;
  height: 100%;
  line-height: 40px;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  transition: all 0.3s linear;
  background: rgb(255, 154, 36);
  background: linear-gradient(
    180deg,
    rgba(255, 154, 36, 1) 0%,
    rgba(247, 199, 144, 1) 100%
  );
}
.add_new:active .plus_icon {
  transform: scale(0.9);
}

.notes_grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-bottom: 2rem;
}
.notes_grid_item {
  min-width: 200px;
}
.note {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  cursor: move;
  position: relative;
  margin-bottom: 30px;
  transition: background-color 0.2s linear;
}
.notes_grid_item:nth-child(1) .note:last-child,
.notes_grid_item:nth-child(2) .note:last-child,
.notes_grid_item:nth-child(3) .note:last-child {
  margin-bottom: 0rem;
}
.note .note_title {
  padding: 1.5rem;
  padding-bottom: 0rem;
  overflow-wrap: break-word;
}
.note .note_description {
  padding: 1.5rem;
  font-size: 0.8rem;
  overflow-wrap: break-word;
}
.note .note_title h2,
.note .note_description p {
  user-select: none;
}
.note .note_edit {
  padding: 0rem 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: black;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.2rem;
}
.note .note_edit:active i {
  transform: scale(0.9);
}
.note .note_color_change {
  display: flex;
  justify-content: flex-end;
  padding: 0rem 1rem 1rem 0rem;
}
.note .note_color_change .choose_color {
  border: 1px solid transparent;
  margin-right: 0rem;
}
.note .note_color_change .choose_color:hover {
  border-color: rgba(0, 0, 0, 0.1);
}
.note .note_color_change .show:hover {
  border-color: transparent;
}
.note .note_delete {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  color: white;
  text-align: center;
  line-height: 25px;
  transform: translate(10px, -10px);
}
.note:hover .note_delete {
  display: block;
}

.note.dragged {
  opacity: 0;
}

.note.dragging {
  position: absolute;
}

@media screen and (max-width: 768px) {
  .notes_container {
    padding: 0rem 2rem;
  }
  .notes_grid_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/************************/
/****** Animations ******/
/************************/

.bigEntrance {
  animation-name: bigEntrance;
  -webkit-animation-name: bigEntrance;

  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  visibility: visible !important;
}

@keyframes bigEntrance {
  0% {
    transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  30% {
    transform: scale(1.05) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1;
  }
  50% {
    transform: scale(0.95) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  80% {
    transform: scale(1.02) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes bigEntrance {
  0% {
    -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  30% {
    -webkit-transform: scale(1.05) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.95) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1.02) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
}

.pullUp {
  animation-name: pullUp;
  -webkit-animation-name: pullUp;

  animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}
.pullUpChoose {
  animation-name: pullUp;
  -webkit-animation-name: pullUp;
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}

@keyframes pullUp {
  0% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(1.03);
  }
  60% {
    transform: scaleY(0.95);
  }
  80% {
    transform: scaleY(1.03);
  }
  100% {
    transform: scaleY(0);
  }
}

@-webkit-keyframes pullUp {
  0% {
    -webkit-transform: scaleY(1);
  }
  40% {
    -webkit-transform: scaleY(1.03);
  }
  60% {
    -webkit-transform: scaleY(0.95);
  }
  80% {
    -webkit-transform: scaleY(1.03);
  }
  100% {
    -webkit-transform: scaleY(0);
  }
}

.pullDown {
  animation-name: pullDown;
  -webkit-animation-name: pullDown;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}

.pullDownChoose {
  animation-name: pullDown;
  -webkit-animation-name: pullDown;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}

@keyframes pullDown {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.03);
  }
  60% {
    transform: scaleY(0.95);
  }
  80% {
    transform: scaleY(1.03);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes pullDown {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.03);
  }
  60% {
    -webkit-transform: scaleY(0.95);
  }
  80% {
    -webkit-transform: scaleY(1.03);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}

.transformFromTo {
  animation-name: transformFromTo;
  -webkit-animation-name: transformFromTo;
  animation-duration: 0.15s;
  -webkit-animation-duration: 0.15s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}
@keyframes transformFromTo {
  0% {
    transform: translateY(var(--tStart));
  }
  100% {
    transform: translateY(var(--tEnd));
  }
}
@-webkit-keyframes transformFromTo {
  0% {
    -webkit-transform: translateY(var(--tStart));
  }
  100% {
    -webkit-transform: translateY(var(--tEnd));
  }
}
